.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
nav h1{
    text-align: center;
    font-size: 2rem;
}
.logo{  
    font-size: 24px;
    font-weight: bold;  
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.5s, ease;
}
.logo:hover{
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 0 25px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255);
    transform: scale(1,1);  
}
.ind{
    text-decoration: none;
    color: #ffffff;            
}
span{
    color: rgb(255, 255, 255);
}
header{
    background-image: url(/images/new2.jpg);
    background-position: center;
    background-size: cover  ;
    border-bottom: 1px solid #b17070;
    padding: 10px 0;
    border-radius: 10px;
}
.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav ul li{
    margin-right: 20px;
}
.nav ul li a{
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    font-size: 23px;
}
main{
    background-image: url(/images/new.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
}
.img1{
    background-position: center;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
}
.row{
    display: flex;
    height: 80%;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}
.text{
    padding-left: 30px;
    flex-basis: 50%;
}
main h2{
    color: hsl(0, 0%, 100%);
    font-size: 70px;
}
div h3{
    color: hsl(0, 0%, 100%);
    font-size: 30px;
}
div ol li{
    font-size:20px;
    color: hsl(0, 0%, 100%);
}
div ul li{
    font-size: 20px;
    color: hsl(0, 0%, 100%);
}
.bal{
    position: absolute;
    right: 60px;
    padding-right: 150px;
    padding-top: 0px;
    height: 400px;
    width: 400px;
}
.bang{
    position: absolute;
    right: 60px;
    padding-right: 150px;
    padding-top: 0px;
    height: 380px;
    width: 350px;
}
.car{
    position: absolute;
    right: 60px;
    padding-right: 150px;
    padding-top: 0px;
    height: 450px;
    width: 450px;
}
.chick{
    position: absolute;
    right: 60px;
    padding-right: 150px;
    padding-top: 0px;
    height: 400px;
    width: 350px;
}
.bab{
    position: absolute;
    right: 60px;
    padding-right: 150px;
    padding-top: 0px;
    height: 450px;
    width: 400px;
}
.lome{
    position: absolute;
    right: 60px;
    padding-right: 150px;
    padding-top: 0px;
    height: 400px;
    width: 400px;
}
.pala{
    position: absolute;
    right: 60px;
    padding-right: 150px;
    padding-top: 0px;
    height: 450px;
    width: 300px;
}
.sini{
    position: absolute;
    right: 60px;
    padding-right: 150px;
    padding-top: 0px;
    height: 400px;
    width: 300px;
}
.sisi{
    position: absolute;
    right: 60px;
    padding-right: 150px;
    padding-top: 0px;
    height: 400px;
    width: 400px;
}
.egg{
    position: absolute;
    right: 60px;
    padding-right: 150px;
    padding-top: 0px;
    height: 350px;
    width: 350px;
}
.dem{
    color: rgb(71, 74, 255);
    padding-right: 400px;
    font-size: 20px;
}
span{
    color: rgb(239, 58, 255);
}
span1{
    color: rgb(255, 255, 255);
}